<.flash_group flash={@flash} />
<header class="print:hidden px-4 sm:px-6 lg:px-8">
  <div class="flex justify-between">
    <div>
      Moneta
    </div>
    <nav>
      <ul class="flex space-x-2">
        <li>
          <.link class="text-blue-700 hover:underline" navigate={~p"/reports/income_statement"}>
            Income Statement
          </.link>
        </li>
        <li class="text-slate-400">Balance Sheet</li>
      </ul>
    </nav>
  </div>
</header>
